*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(26, 65, 53);
    height: 67px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

li {
    color: white;
    padding: 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

li:hover {
    cursor: pointer;
    background-color: rgb(52, 90, 79);

}

#dropdown1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 65, 53);
    width: fit-content;
    gap: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    z-index: 999;
}

.visible {
    display: none !important;
}

#imageCarousel {
    position: relative;
    width: 55vw;
    margin: 20px auto;
}

#imageElement {
    width: 55vw;
    height: 35vw;
    border-radius: 7px;
    z-index: 1;
}

.carousel-button {
    width: 5.5vw;
    height: 5.5vw;
    border: none;
    border-radius: 999px;
    font-size: 2vw;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    z-index: 2;
    top: calc(35vw/2 - 5.5vw/2);
    margin: 10px;
    transition: 0.1s ease;
}

.carousel-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.carousel-button:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.185);
}

#previous-button {
    left: calc(-10% + 5.5vw);
}

#next-button {
    right: calc(-10% + 5.5vw);
}